

/* import danial font */
@import "../fonts/danial/danial-font.css";

:root {
    --color-main: #1652f0;
    --color-alt: #30d5f4;
    --color-sell: #ff5050;
    --color-buy: #1bb545;

    --header-offset: 100px;
}

html {
    scroll-behavior: smooth;
}

* {
    scroll-margin-top: var(--header-offset);
}

body {
    direction: rtl;
}

/* MARK: scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #0086FF;
    border-radius: 0;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #006BB3;
}

::-webkit-scrollbar-track {
    background: rgba(0, 134, 255, 0.2);
    box-shadow: none;
    border-radius: 8px;
}

img {
    max-width: 100%;
}

strong {
    font-weight: bold;
}

.lp-color-attract {
    color: var(--color-sell);
}

.lp-main-wrap {
    min-height: 100%;
    padding-top: var(--header-offset);
    background: linear-gradient(180deg, #ffe6e6 0%, #fff 100%);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    isolation: isolate;
    position: relative;
    transition: .3s;
}

.lp-bg-img {
    max-width: 100%;
    pointer-events: none;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
}

/* MARK: breadcrumb */
.lp-breadcrumb > li {
    display: inline-block;
}

.lp-breadcrumb > li:not(:last-child)::after {
    content: '';
    display: inline-block;
    vertical-align: 0;
    width: 6px;
    height: 8px;
    margin: 0 6px;
    background: url("data:image/svg+xml,%3Csvg height='8' viewBox='0 0 6 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.5' d='M5 7L1 4L5 1' stroke='%231C1D1F' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
}

.lp-breadcrumb > li > :where(a, span) {
    color: #333;
    font-weight: 600;
}

/* MARK: jumbotron */
.lp-jumbo {
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 40px;
    column-gap: 60px;
}

.lp-jumbo-details {
    flex: 1;
}

.lp-jumbo-title {
    font-size: clamp(24px, 5vw, 48px);
    font-weight: 800;
    line-height: 1.5em;
}

.lp-jumbo-subtitle {
    color: #333;
    font-size: clamp(14px, 5vw, 20px);
    margin-bottom: 50px;
}

.lp-jumbo-text {
    font-size: clamp(14px, 5vw, 20px);
    text-align: justify;
}

.lp-jumbo-footer {
    gap: 20px 10px;
}

.lp-btn,
.lp-btn:hover {
    color: #fff;
    min-width: 100px;
    text-align: center;
    font-weight: 400;
    padding: 5px 15px;
    border-radius: 30px;
    background: #1c1d1f;
}

.lp-btn[disabled] {
    color: #333;
    background: #ededed;
    cursor: text;
}

.lp-btn[disabled] small {
    color: #fff;
    padding: 3px 10px;
    border-radius: 30px;
    white-space: nowrap;
    background: var(--color-sell);
}

.lp-jumbo-figure img {
    width: 380px;
    min-width: 300px;
}

/* MARK: how to */
.lp-how-to-wrap {
    max-width: 480px;
    margin: 100px 0;
}

.lp-how-to-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.lp-how-to-title {
    margin-bottom: 50px;
}

.lp-how-to-item {
    gap: 20px;
    padding-inline-start: 20px;
    margin: 20px 0;
    position: relative;
}

.lp-how-to-item-active::before {
    content: '';
    width: 4px;
    height: 48px;
    background: #0086ff;
    transform: translateY(-50%);
    position: absolute;
    right: 0;
    top: 50%;
}

/* MARK: audio player */
.lp-audio-wrap {
    width: 100%;
    margin: 50px 0;
    border-radius: 8px;
    background: #fff;
}

.lp-audio-header {
    gap: 15px;
}

.lp-audio-box {
    gap: 15px;
}

.lp-audio-play-pause-btn {
    border: none;
    background: none;
    cursor: pointer;
}

.lp-audio-progress-bar {
    direction: ltr;
    height: 6px;
    flex-grow: 1;
    border-radius: 3px;
    background: #ddd;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.lp-audio-progress-bar-fill {
    width: 0%;
    height: 100%;
    background: #007bff;
    transition: width 0.2s;
}

.lp-audio-time {
    font-size: 14px;
    color: #555;
    user-select: none;
}

/* MARK: article */
.lp-article-wrap {
    text-align: justify;
    gap: 30px;
}

.lp-article {
    flex: 1;
}

.lp-article img {
    border-radius: 15px;
}

.lp-article-aside {
    width: 398px;
}

.lp-article-nav {
    max-height: 70vh;
    padding-inline-end: 20px;
    overflow: auto;
    position: sticky;
    top: var(--header-offset);
}