/* 30Pay Landing Styles by: mohamad-sh.ir */
:root {
    --color-main: #1652f0;
    --color-alt: #30d5f4;
    --color-loss: #ff5050;
    --color-gain: #1bb545;
    --header-offset: 100px;
}

html {
    scroll-behavior: smooth;
}

* {
    scroll-margin-top: var(--header-offset);
}

body {
    direction: rtl;
    font-weight: 600;
    background: #fff;
}

*, ::before, ::after {
    /* outline: 1px solid deeppink; */
}

/* MARK: scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #0086FF;
    border-radius: 0;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #006BB3;
}

::-webkit-scrollbar-track {
    background: rgba(0, 134, 255, 0.2);
    box-shadow: none;
    border-radius: 8px;
}

img {
    max-width: 100%;
}

strong {
    font-weight: bold;
}

@media (min-width: 1200px) {
    .container {
      max-width: 1278px;
    }
}

.lp-color-attract {
    color: var(--color-loss);
}

.gap\:5  { gap: 5px }
.gap\:10 { gap: 10px }
.gap\:15 { gap: 15px }
.gap\:20 { gap: 20px }
.gap\:25 { gap: 25px }
.gap\:30 { gap: 30px }
.gap\:35 { gap: 35px }
.gap\:40 { gap: 40px }
.gap\:45 { gap: 45px }
.gap\:50 { gap: 50px }
.gap\:55 { gap: 55px }
.gap\:60 { gap: 60px }
.gap\:65 { gap: 65px }
.gap\:70 { gap: 70px }
.gap\:75 { gap: 75px }
.gap\:80 { gap: 80px }
.gap\:85 { gap: 85px }
.gap\:90 { gap: 90px }
.gap\:95 { gap: 95px }
.gap\:100 { gap: 100px }

.flex-1 {
    flex: 1;
}

.lp-main-wrap {
    min-height: 100%;
    padding-top: var(--header-offset);
    background: linear-gradient(180deg, #ffe6e6 0%, #fff 100%);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    background: linear-gradient(135deg, #ffffff 40%, #d4ebff 60%, #a3d1ff 70%, #8ee4e1 85%, #bbf0bb 100%);
    background-attachment: fixed;
    isolation: isolate;
    position: relative;
    transition: .3s;
}

.lp-bg-img {
    max-width: 100%;
    pointer-events: none;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
}

/* MARK: breadcrumb */
.lp-breadcrumb > li {
    display: inline-block;
}

.lp-breadcrumb > li:not(:last-child)::after {
    content: '';
    display: inline-block;
    vertical-align: 0;
    width: 6px;
    height: 8px;
    margin: 0 6px;
    background: url("data:image/svg+xml,%3Csvg height='8' viewBox='0 0 6 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.5' d='M5 7L1 4L5 1' stroke='%231C1D1F' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
}

.lp-breadcrumb > li > :where(a, span) {
    color: #333;
    font-weight: 600;
}

/* MARK: jumbotron */
.lp-jumbo {
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.lp-jumbo-details {
    flex: 1;
}

.lp-jumbo-title {
    font-size: clamp(24px, 5vw, 48px);
    font-weight: 800;
    line-height: 1.5em;
}

.lp-jumbo-subtitle {
    color: #333;
    font-size: clamp(14px, 5vw, 20px);
    margin-bottom: 50px;
}

.lp-jumbo-text {
    font-size: clamp(14px, 5vw, 20px);
    text-align: justify;
}

.lp-jumbo-footer {
    gap: 20px 10px;
}

.lp-btn,
.lp-btn:hover {
    color: #fff;
    min-width: 100px;
    text-align: center;
    font-weight: 400;
    padding: 5px 15px;
    border-radius: 30px;
    background: #1c1d1f;
}

.lp-btn[disabled] {
    color: #333;
    background: #ededed;
    pointer-events: none;
    cursor: text;
}

.lp-btn[disabled] small {
    color: #fff;
    padding: 3px 10px;
    border-radius: 30px;
    white-space: nowrap;
    background: var(--color-loss);
}

.lp-jumbo-figure img {
    width: 380px;
    min-width: 300px;
}

/* MARK: how to */
.lp-how-to-wrap {
    max-width: 100%;
    padding: 40px;
    margin: 100px 0;
    border-radius: 24px;
    background: #f5f9fd;
}

.lp-how-to-details {
    flex: 1;
    min-width: 260px;
    max-width: 100%;
}

.lp-how-to-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.lp-how-to-title {
    margin-bottom: 50px;
}

.lp-how-to-item {
    padding-inline-start: 20px;
    margin: 20px 0;
    position: relative;
}

.lp-how-to-item-active::before {
    content: '';
    width: 4px;
    height: 48px;
    background: #0086ff;
    transform: translateY(-50%);
    position: absolute;
    right: 0;
    top: 50%;
}

.lp-how-to-video {
    flex: 1;
    max-width: 100%;
}

.lp-how-to-video > * {
    width: 442px !important;
    max-width: 100%;
    border: 0;
    border-radius: 24px;
    margin-inline-start: auto;
    overflow: hidden;
}

.lp-how-to-video iframe {
    border: 0;
    border-radius: 24px;
}

/* MARK: audio player */
.lp-audio-wrap {
    width: 100%;
    padding: 24px;
    margin: 50px 0;
    border-radius: 24px;
    border: 1px solid #ebf5ff;
    background: #fff;
}

.lp-audio-play-pause-btn {
    border: none;
    background: none;
    cursor: pointer;
}

.lp-audio-progress-bar {
    direction: ltr;
    height: 6px;
    flex-grow: 1;
    border-radius: 3px;
    background: #ddd;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.lp-audio-progress-bar-fill {
    width: 0%;
    height: 100%;
    background: #007bff;
    transition: width 0.2s;
}

.lp-audio-time {
    font-size: 14px;
    color: #555;
    user-select: none;
}

/* MARK: article */
.lp-article-wrap p {
    text-align: justify;
}

.lp-article {
    flex: 1;
    line-height: 2em;
}

.lp-article img {
    border-radius: 15px;
}

.lp-article-aside {
    width: 398px;
}

.lp-article-nav-box {
    padding: 24px;
    border-radius: 24px;
    border: 1px solid #ebf5ff;
    position: sticky;
    top: var(--header-offset);
}

.lp-article-nav {
    max-height: 70vh;
    padding-inline-end: 20px;
    overflow: auto;
}

.lp-article-nav > li > a {
    display: flex;
    align-items: center;
    text-align: start;
    color: #1c1d1f;
    font-size: 17px;
    font-weight: 600;
    padding: 10px 0;
    position: relative;
}

.lp-article-nav > li > a::before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-inline-end: 10px;
    border-radius: 50%;
    border: 4px solid #e0f0ff;
    background: #fff;
    box-sizing: content-box;
    vertical-align: middle;
}

.lp-article-nav > li > a::after {
    content: '';
    width: 4px;
    height: 100%;
    background: #e0f0ff;
    position: absolute;
    z-index: -1;
    right: 4px;
    top: 0;
}

/* MARK: coin cards */
.lp-coin-cards-wrap {
    margin: 100px 0;    
}

.lp-coin-cards-list {
    height: auto !important;
}

.lp-coins-card-item {
    height: auto !important;!i;!;
    padding: 32px 40px;
    border-radius: 24px;
    border: 1px solid #ebf5ff;
    background: #fff;
}

.lp-coin-item a {
    color: #1c1d1f;
    font-weight: 700;
}

[class*=lp-coins-card-title] {
    color: #1c1d1f;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}

[class*=lp-coins-card-title]::before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 25px;
    margin-inline-end: 10px;
    border-radius: 10px;
    background: var(--color-main);
    vertical-align: middle;
}

.lp-coins-card-title-gain::before {
    background: var(--color-gain);
}

.lp-coins-card-title-loss::before {
    background: var(--color-loss);
}

.lp-coins-list {
    display: flex;
    flex-direction: column;
}

.lp-coin-item-info {
}

.lp-coin-item-img {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.lp-coin-item-values {
    text-align: end;
    margin-inline-start: auto;
}

.lp-coin-item-vary-gain {
    color: var(--color-gain);
}

.lp-coin-item-vary-loss {
    color: var(--color-loss);
}

.lp-coin-cards-wrap .swiper-pagination-bullet {
    transition: .3s;
    border-radius: 10px;
}

.lp-coin-cards-wrap .swiper-pagination-bullet-active {
    width: 30px;
}

/* MARK: goin gifts */
.lp-coin-gift-seek {
    padding: 40px;
    border-radius: 24px;
    background: linear-gradient(180deg, #F5FAFF 0%, #FFFFFF 100%);
}

.lp-coin-gift-seek-btn-wrap {
    font-size: 18px;
    line-height: 2;
}

.lp-coin-gift-seek-btn-wrap .lp-btn:not(.bg-primary) {
    color: var(--color-main);
    white-space: nowrap;
    background: #ebf5ff;
}

.lp-coin-gift-seek-circle {
    display: grid;
    align-items: center;
    justify-items: center;
}

.lp-coin-gift-seek-counter {
    font-size: 24px;
}

.lp-coin-gift-seek-circle > * {
    grid-area: 1/1;
}

.lp-coin-gift-figure {
    flex-shrink: 0;
    width: 422px;  
    max-width: 100%;
}

/* MARK: app download */
.lp-app-dl-wrap {
    display: grid;
    align-items: center;
}

.lp-app-dl-wrap > * {
    grid-area: 1 / 1;
}

.lp-app-dl-pic img {
    width: 100%;
}

.lp-app-dl-title {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5em;
    margin-bottom: 20px;
}

.lp-app-dl-text {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 30px;
}

.lp-app-dl-dets .lp-btn {
    color: #333;
    font-size: 20px;
    font-weight: 600;
    background: #fff;
}

.lp-app-dl-dets .lp-btn > span {
    display: inline-block;
    vertical-align: -1px;
}
