/* import danial font */
@import "../fonts/danial/danial-font.css";


:root {
    --color-main: #1652f0;
    --color-alt: #30d5f4;
    --color-sell: #ff5050;
    --color-buy: #1bb545;
}

body {
    direction: rtl;
}

img {
    max-width: 100%;
}

strong {
    font-weight: bold;
}

.lp-color-attract {
    color: var(--color-sell);
}

.lp-main-wrap {
    min-height: 100%;
    padding-top: 100px;
    background: linear-gradient(180deg, #ffe6e6 0%, #fff 100%);
    position: relative;
}

.lp-bg-img {
    max-width: 100%;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
}

/* MARK: breadcrumb */
.lp-breadcrumb > li {
    display: inline-block;
}

.lp-breadcrumb > li:not(:last-child)::after {
    content: '';
    display: inline-block;
    vertical-align: 0;
    width: 6px;
    height: 8px;
    margin: 0 6px;
    background: url("data:image/svg+xml,%3Csvg height='8' viewBox='0 0 6 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.5' d='M5 7L1 4L5 1' stroke='%231C1D1F' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
}

.lp-breadcrumb > li > :where(a, span) {
    color: #333;
    font-weight: 600;
}

/* MARK: jumbotron */
.lp-jumbo {
    font-size: 18px;
    margin-top: 40px;
    column-gap: 60px;
}

.lp-jumbo-details {
    flex: 1;
}

.lp-jumbo-title {
    font-size: clamp(24px, 5vw, 48px);
    font-weight: 800;
    line-height: 1.5em;
}

.lp-jumbo-subtitle {
    color: #333;
    font-size: clamp(14px, 5vw, 20px);
    margin-bottom: 50px;
}

.lp-jumbo-text {
    font-size: clamp(14px, 5vw, 20px);
    text-align: justify;
}

.lp-jumbo-footer {
    gap: 20px 10px;
}

.lp-btn,
.lp-btn:hover {
    color: #fff;
    min-width: 100px;
    text-align: center;
    font-weight: 400;
    padding: 5px 15px;
    border-radius: 30px;
    background: #1c1d1f;
}

.lp-btn[disabled] {
    color: #333;
    background: #ededed;
    cursor: text;
}

.lp-btn[disabled] small {
    color: #fff;
    padding: 3px 10px;
    border-radius: 30px;
    white-space: nowrap;
    background: var(--color-sell);
}

.lp-jumbo-figure img {
    width: 380px;
    min-width: 300px;
}